@import url('https://fonts.googleapis.com/css?family=Carrois+Gothic+SC|Roboto+Condensed');

body{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

header h1{
    color: white;
    padding: 32px 8px 32px 8px;
    font-family: 'Carrois Gothic SC', sans-serif;
    box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
}

header p{
    color: white;
    padding: 8px;
}

.header{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}



.container{
    display: flex;
    padding:4px;
    background: #59C173;
    background: linear-gradient(to right,#355C7D,#6C5B7B,#C06C84);
    color: rgb(255, 255, 255);
    box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
}

section h2{
    text-align: center;
    background: -webkit-linear-gradient(#59C173,#a17fe0,#5D26C1);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}
.myFonts{
    font-family: 'Roboto Condensed', sans-serif;
}

.my-photo{
    width: 50vw;
    align-self: auto;
}

.card{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: rgb(0, 0, 0);
    margin: 8px;
    width: 13.5vw;
    justify-content: center;
    text-align: center;
    box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}

.tech-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0 0 0;
    width: 50%;
}

.container1{
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
    align-items: stretch;
    align-content: stretch;
    box-align: center;
    justify-content: space-around;
    background: #59C173;
    background: linear-gradient(to right,#355C7D,#6C5B7B,#C06C84);
    color: rgb(255, 255, 255);
    box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
}

card p{
    align-self: stretch;
}

#portfolio:hover{
    opacity: 0.7;
    cursor: pointer;
}

#prajjwalan:hover{
    opacity: 0.7;
    cursor: pointer;
}

.project-card{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    color: rgb(0, 0, 0);
    margin: 8px;
    width: 26vw;
    height:auto;
    justify-content: center;
    text-align: center;
    box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 5px;
}

.project-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 0 0 0;
    width: 30%;
}

footer{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
}

#projects{
    padding: 0 0 16px 0;
}

.footer-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.footer-para{
    text-align: center;
    color: white;
}

.contact-link{
    margin:8px;
}

@media only screen and (max-width:540px) and (min-width:320px){
    .container{
        flex-wrap: wrap-reverse;
        margin: auto;
    }

    .my-photo{
        width:100%;
        box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
    }

    .container1{
        flex-direction: row;
        margin: auto;
        padding: 4px;
    }

    .card{
        padding: 4px;
        width: 40%;
        height: auto;
        margin:16px 8px 16px 8px;
    }
}

@media only screen and (max-width:320px) {
    .container{
        flex-wrap: wrap-reverse;
        margin: auto;
    }

    .my-photo{
        width:100%;
        box-shadow:0 4px 6px rgba(0,0,0,0.42), 0 1px 2px rgba(0,0,0,0.24);
    }

    .container1{
        flex-direction: row;
        margin: auto;
        padding: 4px;
    }

    .card{
        padding: 4px;
        width: 100%;
        height: auto;
        margin:16px 8px 16px 8px;
    }
}

@media only screen and (max-width:436px){
    header p{
        font-size: 0.8em;
    }

    .footer-para{
        font-size: 0.9em;
    }
}

@media screen and (min-width:541px) and (max-width:949px){
    .my-photo{
        width: 35vw;
    }
}

@media only screen and (min-width:950px){
    .my-photo{
        width: 25vw;
    }
}

@media screen and (max-width:749px) and (min-width:541px){
    .card{
        width: 30%;
    }
}

@media screen and (max-width:503px) {
    .project-card{
        width: 100%;
        height: 30vh;
    }
    .project-image{
        width: 20%;
    }
}